{% extends "base.html" %}
{% block body %}
    <div class="row col-lg-12 col-md-offset-1">
        <div class="col-lg-12 ">


            <ol class="breadcrumb">
                <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"> 主页</span></a></li>
                <li class="active">折线/柱状图</li>
            </ol>
        </div>
    </div><!-- /.row -->

    <div id="main" style="width: 1000px;height:600px;margin: 0 auto;"></div>
    <script>

        var myChart = echarts.init(document.getElementById('main'));

        var app = {
            xday: [],
            yvalue: []
        };

        // 发送ajax请求，从后台获取json数据
        $(document).ready(function () {
            getData();
        });

        function getData() {
            $.ajax({
                url: '/airdata',
                data: {},
                type: 'GET',
                async: true,
                dataType: 'json',
                success: function (data) {
                    app.xday = data.time;
                    app.yvalue = data.pm25;
                    myChart.setOption({
                        title: {
                            text: '展示类型 - 折线/柱状图',
                            subtext: '鼠标悬停可查看详细信息'
                        },
                        tooltip: {trigger: 'axis'},
                        legend: {
                            data: ['pm2.5']
                        },
                        toolbox: {
                            show: true,
                            feature: {
                                mark: {show: true},
                                dataView: {show: true, readOnly: false},
                                magicType: {show: true, type: ['line', 'bar']},
                                restore: {show: true},
                                saveAsImage: {show: true}
                            }
                        },
                        calculable: true,
                        xAxis: {
                            show: true,
                            data: app.xday,
                            name: '日期',
                        },
                        yAxis: [
                            {
                                show: true,
                                type: 'value',


                            }
                        ],
                        series: [{
                            name: 'pm2.5',
                            type: 'line',
                            data: app.yvalue,

                            markPoint: {
                                data: [
                                    {type: 'max', name: '最高值'},
                                    {type: 'min', name: '最低值'}
                                ]
                            },
                        }]
                    })
                },


                error: function (msg) {
                    console.log(msg);
                    alert('系统发生错误');
                }
            })
        };

    </script>

    </script>


{% endblock %}


