{% extends "base.html" %}
{% block body %}

    <div class="row col-md-11 col-md-offset-1">
        <div class="col-md-11 ">
            <ol class="breadcrumb">
                <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"> 主页</span></a></li>
                <li class="active " id="indextitle">
                    饼图
                </li>
            </ol>
        </div>
    </div><!-- /.row -->
    <!--选择开始时间-->

    <div class="form-group ">


        <div class="col-md-2 col-md-offset-2">
            <div class="input-group date form_datetime_start  "
                 data-date-format="yyyy-mm-dd hh:ii " data-link-field="dtp_input1" style="float:left">

                <input class="form-control" data-format="yyyy-mm-dd hh:ii:ss" size="1" type="text"
                       value="2018-3-25 12:00" readonly>
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                <input type="hidden" id="dtp_input1" value=""/>
            </div>
        </div>


        <div class="col-sm-2">
            <div class="input-group date form_datetime_end  "
                 data-date-format="yyyy-mm-dd hh:ii " data-link-field="dtp_input2" style="float:left">

                <input class="form-control" data-format="yyyy-mm-dd hh:ii:ss" size="1" type="text"
                       value="2018-3-29 12:00" readonly>
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                <input type="hidden" id="dtp_input2" value=""/>
            </div>
        </div>
    </div>

    <div class="col-sm-2">
        <select class="selectpicker " id="geopicker" title="选择监测站(默认上海杨浦)" style="font-color:black">
            <optgroup label="静安">
                <option value="jingan">静安监测站</option>
            </optgroup>
            <optgroup label="虹口">
                <option value="hongkou">虹口监测站</option>
            </optgroup>
            <optgroup label="浦东">
                <option value="pudongchuansha">浦东川沙监测站</option>
                <option value="pudongxinqu">浦东新区监测站</option>
                <option value="pudongzhangjiang">浦东张江监测站</option>
            </optgroup>
            <optgroup label="普陀">
                <option value="putuo">普陀监测站</option>
            </optgroup>
            <optgroup label="黄埔">
                <option value="shiwuchang">十五厂(卢湾师专附小)监测站</option>
            </optgroup>
            <optgroup label="杨浦">
                <option value="yangpusipiao">杨浦四漂监测站</option>
            </optgroup>
            <optgroup label="徐汇">
                <option value="xuhuishangshida">徐汇上师大监测站</option>
            </optgroup>
            <optgroup label="青浦">
                <option value="qingpudianshanhu">青浦淀山湖监测站</option>
            </optgroup>

        </select>
    </div>>

    <div class="col-sm-2">
        <select class="selectpicker " id="polpicker" title="(默认空气质量等级)" data-actions-box="true">
            <optgroup label="(优、良、轻度污染、中度污染、重度污染、严重污染)">
                <option value="level">空气质量等级</option>
            </optgroup>
            <optgroup label="(细颗粒物PM2.5、颗粒物PM10、二氧化硫、一氧化碳、二氧化氮等)">
                <option value="primarypollutant">首要污染物</option>
            </optgroup>


        </select>
    </div>


    <div id="request_button">
        <button type="submit" class="btn btn-success">确认</button>
    </div>


    <script>
        var theme = 'macarons';
        $('.form_datetime_start').datetimepicker({
            language: 'zh-CN',
            weekStart: 1, //一周从哪一天开始
            todayBtn: 1, //
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
        });

        $('.form_datetime_end').datetimepicker({
            language: 'zh-CN',
            weekStart: 1, //一周从哪一天开始
            todayBtn: 1, //
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
        });

    </script>
    <script>
        var obj = document.getElementById('indextitle');
        obj.innerText = "饼图"


        $(function () {
            $("#request_button .btn").click(function () {
                var request_data = {};
                request_data['start'] = $('.form_datetime_start').data("datetimepicker").getDate();
                request_data['end'] = $('.form_datetime_end').data("datetimepicker").getDate();
                request_data['pollution'] = $('#polpicker').val();
                request_data['geopoint'] = $('#geopicker').val();
                $.ajax({
                    url: '/airdata',
                    type: 'POST',
                    dataType: 'json',
                    data: JSON.stringify(request_data),  //转为字符串
                    contentType: 'application/json; charset=UTF-8',
                    async: true,
                    success: function (data) {
                        app.days = getJsonLength(data.time);
                        if (request_data['pollution'] == 'level') {
                            var value = data.pollution.level;
                            var counter_exellent = 0;
                            var counter_good = 0;
                            var counter_polluted1 = 0;
                            var counter_polluted2 = 0;
                            var counter_polluted3 = 0;
                            var counter_polluted4 = 0;
                            for (var obj in value) {
                                if (value[obj] == '优') {
                                    counter_exellent += 1;
                                }
                                else if (value[obj] == '良') {
                                    counter_good += 1;
                                }
                                else if (value[obj] == '轻度污染') {
                                    counter_polluted1 += 1;
                                }
                                else if (value[obj] == '中度污染') {
                                    counter_polluted2 += 1;
                                }
                                else if (value[obj] == '重度污染') {
                                    counter_polluted3 += 1;
                                }
                                else if (value[obj] == '严重污染') {
                                    counter_polluted4 += 1;
                                }
                                app.exellent = counter_exellent;
                                app.good = counter_good;
                                app.polluted1 = counter_polluted1;
                                app.polluted2 = counter_polluted2;
                                app.polluted3 = counter_polluted3;
                                app.polluted4 = counter_polluted4;
                                var pie_data = [
                                    {value: app.exellent, name: '优'},
                                    {value: app.good, name: '良'},
                                    {value: app.polluted1, name: '轻度污染'},
                                    {value: app.polluted2, name: '中度污染'},
                                    {value: app.polluted3, name: '重度污染'},
                                    {value: app.polluted4, name: '严重污染'}
                                ];
                                var pie_name = '空气质量等级'
                                var pie_legends = ['优', '良', '轻度污染', '中度污染', '重度污染', '严重污染']

                            }
                        }
                        else if (request_data['pollution'] == 'primarypollutant') {
                            var value = data.pollution.primarypollutant;
                            var counter_pm25 = 0;
                            var counter_pm10 = 0;
                            var counter_pm25pm10 = 0;
                            var counter_no2 = 0;
                            var counter_co = 0;
                            var counter_o31h = 0;
                            var counter_so2 = 0;
                            for (var obj in value) {
                                if (value[obj] == '细颗粒物(PM2.5)') {
                                    counter_pm25 += 1;
                                }
                                else if (value[obj] == '颗粒物(PM10)') {
                                    counter_pm10 += 1;
                                }
                                else if (value[obj] == '颗粒物(PM10)细颗粒物(PM2.5)') {
                                    counter_pm25pm10 += 1;
                                }
                                else if (value[obj] == '二氧化氮') {
                                    counter_no2 += 1;
                                }
                                else if (value[obj] == '一氧化碳') {
                                    counter_co += 1;
                                }
                                else if (value[obj] == '臭氧一小时') {
                                    counter_o31h += 1;
                                }
                                else if (value[obj] == '二氧化硫') {
                                    counter_so2 += 1;
                                }
                                app.pm25 = counter_pm25;
                                app.pm10 = counter_pm10;
                                app.pm25pm10 = counter_pm25pm10;
                                app.no2 = counter_no2;
                                app.co = counter_co;
                                app.o31h = counter_o31h;
                                app.so2 = counter_so2;

                                var pie_data = [
                                    {value: app.pm25, name: '细颗粒物(PM2.5)'},
                                    {value: app.pm10, name: '颗粒物(PM10)'},
                                    {value: app.pm25pm10, name: '颗粒物(PM10)细颗粒物(PM2.5)'},
                                    {value: app.no2 , name: '二氧化氮'},
                                    {value: app.co, name: '一氧化碳'},
                                    {value: app.o31h, name: '臭氧一小时'},
                                    {value: app.so2, name: '二氧化硫'}
                                ];
                                var pie_name = '首要污染物'
                                var pie_legends = ['细颗粒物(PM2.5)', '颗粒物(PM10)', '颗粒物(PM10)细颗粒物(PM2.5)','二氧化氮','一氧化碳','臭氧一小时','二氧化硫']

                            }

                        }


                        myChart.setOption({
                            title: {
                                text: '展示类型 - 南丁格尔玫瑰图 / ' + '已选时长 - ' + app.days + '小时 ≈ ' + (app.days / 24).toFixed(1) + '天',
                                subtext: '鼠标悬停可查看详细信息',
                                x: 'center'
                            },
                            tooltip: {trigger: 'axis',},
                            legend: {
                                orient: 'vertical',
                                x: 'left',
                                data: pie_legends
                            },
                            toolbox: {
                                show: true,
                                feature: {
                                    mark: {show: true},
                                    dataView: {show: true, readOnly: false},
                                    magicType: {
                                        show: true,
                                        type: ['pie', 'funnel'],
                                        option: {
                                            funnel: {
                                                x: '25%',
                                                width: '50%',
                                                funnelAlign: 'left',
                                                max: 1548
                                            }
                                        }
                                    },
                                    restore: {show: true},
                                    saveAsImage: {show: true}
                                }
                            },
                            calculable: true,

                            series: [{
                                name: pie_name,
                                type: 'pie',
                                roseType: 'radius',
                                label: {
                                    normal: {
                                        show: true,
                                        formatter: '{b}: {c}({d}%)'
                                    }
                                },
                                data: pie_data

                            }]
                        })
                    },


                    error: function (msg) {
                        console.log(msg);
                        alert('Error!');
                    }
                })

            });
        });
    </script>
    <br/>


    <div id="main_charts" style="width: 1000px;height:600px;margin: 0 auto;"></div>
    <script>

        var myChart = echarts.init(document.getElementById('main_charts'), theme);


        // 发送ajax请求，从后台获取json数据
        $(document).ready(function () {
            getData();
        });

        var app = {
            days: [],
            exellent: [],
            good: [],
            // 1 2 3 4轻/中/重度/严重污染
            polluted1: [],
            polluted2: [],
            polluted3: [],
            polluted4: [],
            pm25: [],
            pm10: [],
            pm25pm10: [],
            no2 :[],
            co:[],
            o31h:[],
            so2:[]
        }
        ;

        function getJsonLength(json) {
            var jsonLength = 0;
            for (var i in json) {
                jsonLength++;
            }
            return jsonLength;
        }

        function getData() {
            var request_data = {};
            request_data['start'] = $('.form_datetime_start').data("datetimepicker").getDate();
            request_data['end'] = $('.form_datetime_end').data("datetimepicker").getDate();
            request_data['pollution'] = 'level'
            request_data['geopoint'] = 'yangpusipiao'
            $.ajax({
                url: '/airdata',
                type: 'POST',
                dataType: 'json',
                data: JSON.stringify(request_data),  //转为字符串
                contentType: 'application/json; charset=UTF-8',
                async: true,
                success: function (data) {
                    app.days = getJsonLength(data.time);
                    var value = data.pollution.level;
                    var counter_exellent = 0;
                    var counter_good = 0;
                    var counter_polluted1 = 0;
                    var counter_polluted2 = 0;
                    var counter_polluted3 = 0;
                    var counter_polluted4 = 0;
                    for (var obj in value) {
                        if (value[obj] == '优') {
                            counter_exellent += 1;
                        }
                        else if (value[obj] == '良') {
                            counter_good += 1;
                        }
                        else if (value[obj] == '轻度污染') {
                            counter_polluted1 += 1;
                        }
                        else if (value[obj] == '中度污染') {
                            counter_polluted2 += 1;
                        }
                        else if (value[obj] == '重度污染') {
                            counter_polluted3 += 1;
                        }
                        else if (value[obj] == '严重污染') {
                            counter_polluted4 += 1;
                        }
                        app.exellent = counter_exellent;
                        app.good = counter_good;
                        app.polluted1 = counter_polluted1;
                        app.polluted2 = counter_polluted2;
                        app.polluted3 = counter_polluted3;
                        app.polluted4 = counter_polluted4;

                    }

                    myChart.setOption({
                        title: {
                            text: '展示类型 - 南丁格尔玫瑰图 / ' + '已选时长 - ' + app.days + '小时 ≈ ' + (app.days / 24).toFixed(1) + '天',
                            subtext: '鼠标悬停可查看详细信息',
                            x: 'center'
                        },
                        tooltip: {trigger: 'axis',},
                        legend: {
                            orient: 'vertical',
                            x: 'left',
                            data: ['优', '良', '轻度污染', '中度污染', '重度污染', '严重污染']
                        },
                        toolbox: {
                            show: true,
                            feature: {
                                mark: {show: true},
                                dataView: {show: true, readOnly: false},
                                magicType: {
                                    show: true,
                                    type: ['pie', 'funnel'],
                                    option: {
                                        funnel: {
                                            x: '25%',
                                            width: '50%',
                                            funnelAlign: 'left',
                                            max: 1548
                                        }
                                    }
                                },
                                restore: {show: true},
                                saveAsImage: {show: true}
                            }
                        },
                        calculable: true,

                        series: [{
                            name: '空气质量等级',

                            type: 'pie',
                            roseType: 'radius',

                            label: {
                                normal: {
                                    show: true,
                                    formatter: '{b}: {c}({d}%)'
                                }
                            },
                            data: [
                                {value: app.exellent, name: '优'},
                                {value: app.good, name: '良'},
                                {value: app.polluted1, name: '轻度污染'},
                                {value: app.polluted2, name: '中度污染'},
                                {value: app.polluted3, name: '重度污染'},
                                {value: app.polluted4, name: '严重污染'}
                            ]

                        }]
                    })
                },


                error: function (msg) {
                    console.log(msg);
                    alert('Error!');
                }
            })
        };

    </script>

{% endblock %}


